<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">

  <!-- Include -->
  <?include ..\..\Common\InstallerGUID.wxi?>
  <?include ..\..\Common\Manufacturer.wxi?>
  <?include ..\..\Common\ResourceFiles.wxi?>
  <?include ..\Version\InstallerInfo.wxi?>

  <!-- GUID -->
  <?define GUID_UpgradeCode="$(var.GUID_PSPackageMaker_ExePackage_UpgradeCode)"?>

  <!-- Source Files (Common) -->
  <?define Source_LicenseFile="$(var.Resource_LicenseFile_RTF)"?>
  <?define Source_LogoFile="$(var.Resource_LogoFile_PSPackageMakerSetupBootstrapper)"?>

  <!-- Source Files -->
  <?define Source_ProductComponent="$(var.Resource_PSPackageMakerSetup)"?>
  <?define Source_ProductComponent64="$(var.Resource_PSPackageMakerSetup64)"?>


  <!-- Bundle -->
  <Bundle Name="$(var.PSPackageMaker_ProductName) $(var.Version)"
          Version="$(var.Version)"
          Manufacturer="$(var.Manufacturer)"
          Copyright="$(var.Copyright)"
          UpgradeCode="$(var.GUID_UpgradeCode)">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="$(var.Source_LicenseFile)"
                                              LogoFile="$(var.Source_LogoFile)"
                                              ShowVersion="yes"
                                              SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage SourceFile="$(var.Source_ProductComponent)" />
      <MsiPackage SourceFile="$(var.Source_ProductComponent64)" InstallCondition="VersionNT64" />
    </Chain>
  </Bundle>
</Wix>