<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <!-- Include -->
  <?include ..\Version\InstallerGUID.wxi?>
  <?include ..\Version\InstallerVersionInfo.wxi?>
  <?include ..\Common\InstallerInfo.wxi?>

  
  <!-- GUID -->
  <?define GUID_UpgradeCode="$(var.GUID_PackageMaker_SetupBootstrapper_UpgradeCode)"?>

  <!-- Product Information -->
  <?define ProductName="$(var.PackageMaker_ProductName)"?>

  <!-- Source Files (Common) -->
  <?define Source_LicenseFile="$(var.Resource_LicenseFile_RTF)"?>
  <?define Source_LogoFile="$(var.Resource_LogoFile_PSPackageMakerSetupBootstrapper)"?>

  <!-- Source Files -->
  <?define Source_PSUtilitiesSetup="$(var.Resource_PSUtilitiesSetupBootstrapper)"?>
  <?define Source_PSPackageMakerSetup="$(var.Resource_PSPackageMakerSetupBootstrapper)"?>
  <?define Source_PackageMakerSetup="$(var.Resource_PackageMakerSetup)"?>

  <!-- Source Files (.NET Framework 4.5) -->
  <?define Source_dotNetFx45_ja="$(var.Redist_dotNetFx45_ja)"?>
  <?define Source_dotNetFx45_en="$(var.Redist_dotNetFx45_en)"?>

  <!-- Launch Target -->
  <?define LaunchTarget="[ProgramFilesFolder]$(var.PackageMaker_ProductFolderName)\Readme.txt"?>


  <!-- Bundle -->
  <Bundle Name="$(var.ProductName) $(var.Version)"
          Version="$(var.Version)"
          Manufacturer="$(var.Manufacturer)"
          Copyright="$(var.Copyright)"
          UpgradeCode="$(var.GUID_UpgradeCode)">

    
    <!-- BootstrapperApplicationRef -->
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkSidebarLicense">
      <bal:WixStandardBootstrapperApplication LicenseUrl=""
                                              LogoFile="$(var.Source_LogoFile)"
                                              ShowVersion="yes"
                                              SuppressOptionsUI="yes"
                                              LaunchTarget="$(var.LaunchTarget)" />
                                         <!-- LicenseFile="$(var.Source_LicenseFile)" -->
    </BootstrapperApplicationRef>

    
    <!-- Related Product (MsiPackage) -->
    <util:ProductSearch Result="version" Variable="PSUtilities_Version" ProductCode="$(var.GUID_PSUtilities_Product)" />
    <util:ProductSearch Result="version" Variable="PSUtilities64_Version" ProductCode="$(var.GUID_PSUtilities64_Product)" />
    <util:ProductSearch Result="version" Variable="PSPackageMaker_Version" ProductCode="$(var.GUID_PSPackageMaker_Product)" />
    <util:ProductSearch Result="version" Variable="PSPackageMaker64_Version" ProductCode="$(var.GUID_PSPackageMaker64_Product)" />
    
    
    <!-- Chain -->
    <Chain>
      <!-- .NET Framework 4.5 -->
      <!--
      <PackageGroupRef Id="NetFx45Web" />
      -->

      <!-- BUILDLet.Utilities.PowerShell -->
      <ExePackage SourceFile="$(var.Source_PSUtilitiesSetup)"
                  DetectCondition="(PSUtilities_Version &gt;= &quot;$(var.Version).0&quot;) AND (PSUtilities_Version &gt;= &quot;$(var.Version).0&quot;)"
                  Permanent="yes"
                  InstallCommand="/q /hideconsole"
                  UninstallCommand="/q /uninstall /hideconsole" />

      <!-- BUILDLet.PackageMaker.PowerShell -->
      <ExePackage SourceFile="$(var.Source_PSPackageMakerSetup)"
                  DetectCondition="(PSPackageMaker_Version &gt;= &quot;$(var.Version).0&quot;) AND (PSPackageMaker_Version &gt;= &quot;$(var.Version).0&quot;)"
                  Permanent="no"
                  InstallCommand="/q /hideconsole"
                  UninstallCommand="/q /uninstall /hideconsole" />
      
      <!-- Components of BUILDLet PackageMaker Toolkit itself -->
      <MsiPackage SourceFile="$(var.Source_PackageMakerSetup)" />
    </Chain>
    

    <!-- .NET Framework 4.5 -->
    <!--
    <PayloadGroup Id="NetFx45Web">
      <Payload SourceFile="$(var.Source_dotNetFx45_ja)" />
    </PayloadGroup>
    -->
  </Bundle>
</Wix>